BODY { BACKGROUND-COLOR: #FFFFFF;
	COLOR: black;
	FONT: 9pt tahoma, verdana
}

H3 { COLOR: #004080;
}

H4 { COLOR: #004080;
}
TABLE { FONT: 9pt tahoma;
}

a { text-decoration: none;
	color: #77BBEE;
}

a:hover {text-decoration: underline;
}
